<%layout('layouts/boilerplate')%>
<div class="container text-center my-3">
    <h2 class="text-capitalize"><u><%=prompt%></u></h2>
    <img src="<%=imageUrl%>" class="img-fluid" alt="<%=prompt%>">
</div>