<%layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
            <h5 class="card-header">OpenAI Image Generator</h5>
            <div class="card-body">
              <h5 class="card-title">DALL·E: Creating Images from Text</h5>
              <p class="card-text">We’ve trained a neural network called DALL·E that creates images from text captions for a wide range of concepts expressible in natural language.</p>
              <a href="/openai/generateimage" class="btn btn-primary">Open DALL-E</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <h5 class="card-header">Coming Soon</h5>
            <div class="card-body">
              <h5 class="card-title">OpenAI API Stuff</h5>
              <p class="card-text">Lorem ipsum dolor sit amet.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <h5 class="card-header">Coming Soon</h5>
            <div class="card-body">
              <h5 class="card-title">OpenAI API Stuff</h5>
              <p class="card-text">Lorem ipsum dolor sit amet.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
  </div>